


.paragraph{
    color: #718096;
    font-size: 18px;
    white-space: pre-wrap;
    text-align: center;
}

.centralize{
    display: block !important;
    margin: auto !important;
    width: 100% !important;
}

.banner{
    margin-top: 15%;
}